
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Wiser Code Challenge</h3>
      </div>

      <div class="jumbotron">
        <h1>Products</h1>
        <p class="lead">Search and edit</p>
      </div>

      <%= grid(@products_grid, show_filters: :always) do |g|

          g.column name: 'ID', attribute: 'id' do |product|
            product.id
          end

          g.column name: 'Name', attribute: 'name' do |product|
            product.name
          end

          g.column name: 'sku', attribute: 'sku' do |product|
            product.sku
          end

          g.column name: 'Category', attribute: 'category' do |product|
            product.category
          end

          g.column do |product|
            link_to('Edit', edit_product_path(product))
          end
        end -%>

      <footer class="footer">
        <p>&copy; Casie Levine Submission October 14, 2015</p>
      </footer>

    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>